#title {
    text-align: center;
}

#floater {
    /* http://jsfiddle.net/samuraii/sc9jycd7/2/ */
    position: fixed;
    top: 100px;
    right: 1px;
    width: 200px;
    height: 100px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 1;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    background-color: #41a6d9;
    text-align: center;
    box-sizing: border-box;
}

#stopwatch {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

#start, #stop, #reset {
    font-weight: bold;
    font-size: 1.1em;
}

#question {
    font-weight: bold;
    font-size: 1.5em;
}

#answer {
    font-weight: bold;
    font-size: 1.2em;
}